---
title: Danger - Reference
subtitle: Reference
layout: layout_js
---

css:
  section {
    padding: 20px;
    margin: 0 auto;
    max-width: 1040px;
  }


  .svg {
    width: 100%
  }
 
  .code_chunk {
    max-width: 100%;
    overflow-y: scroll;
  }

  .messaging code, .examples .code_chunk {
    display:block;
    border-left: 2px #eee solid;
    padding-left: 12px;
    margin-top: 8px;
  }

  .examples .code_chunk {
    margin-bottom: 20px;
    font-size: 14px;
  }

  .home-header {
      display:flex; 
      justify-content: space-between;
      margin-top: 20px;
  }

  .home-header img {
      position: relative;
      top: 6px;
      margin-right: 4px;
  }

  p > code {
    background-color: #eee;
  }

  div.third_party_readme {
    padding-left: 20px;
    border-left: 2px #ddd solid;
  }


.homepage
  section
    article
      center style="position:relative; margin-top: 40px;"
        = image_tag("/images/js/danger-js-py-logo-hero-cachable@2x.png",  { width: 200, height: 200 })
          
 
    .wide-row-thin-col
      article style="padding:10px;"
        h1.vibrant [WIP] What is Danger Python?

        markdown:
          Danger runs during your CI process, and gives teams the chance to automate common code review chores.

          This provides another logical step in your build, through this Danger can help lint your rote tasks in daily code review.

          You can use Danger to codify your teams norms. Leaving humans to think about harder problems.

          This happens by Danger leaving messages inside your PRs based on rules that you write in Python.

          Over time, as rules are adhered to, the message is amended to reflect the current state of the code review.

      
      article style="padding:10px;"
        a href="/images/dangerjs-screenshot.png"
          img src="/images/dangerjs-screenshot.png" style="max-width:100%; margin-top: 70px;"

  
    section
      article style="padding:10px;"
        h1.vibrant Work In Progress

        p Work is still happening on Danger Python to get it to a 1.0, you can contribute and get started by looking at the repo: <a href="https://github.com/danger/python">github.com/danger/python</a>.
